<div class="card-body">
    <h4 class="card-title">ขอยืมยานพาหนะ</h4>
    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-8">
            <form [formGroup]="reservationForm">
                <div class="card">
                    <div class="card-header">
                        กรอกแบบฟอร์มการขอยืมยานพาหนะ
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                ยานพานะ:
                            </div>
                            <div class="col-md-9">
                                <div class="form-group">
                                    <select class="form-control" formControlName="car">
                                        <option value=""></option>
                                        <option *ngFor="let item of carName" [value]="item.name">{{item.name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div><br>
                        <div *ngIf="(fromdata.car.dirty || fromdata.car.touched)" id="car">
                            <div *ngIf="fromdata.car.errors?.required" class="alert alert-danger">
                                Car is required
                            </div>
                          </div>

                        <div class="row">
                            <div class="col-md-3">
                                เหตุผลการยืม:
                            </div>
                            <div class="col-md-9">
                                <div class="form-group">
                                    <input type="text" class="form-control" formControlName="detail" />
                                </div>
                            </div>
                        </div><br>
                        <div *ngIf="(fromdata.detail.dirty || fromdata.detail.touched)" id="detail">
                            <div *ngIf="fromdata.detail.errors?.required" class="alert alert-danger">
                                Detail is required
                            </div>
                          </div>

                        <div class="row">
                            <div class="col-md-3">
                                ชื่อผู้ยืม:
                            </div>
                            <div class="col-md-9">
                                <div class="form-group">
                                    <input type="text" class="form-control" formControlName="name" />
                                </div>
                            </div>
                        </div><br>
                        <div *ngIf="(fromdata.name.dirty || fromdata.name.touched)" id="name">
                            <div *ngIf="fromdata.name.errors?.required" class="alert alert-danger">
                                Name is required
                            </div>
                          </div>

                        <div class="row">
                            <div class="col-md-3">
                                เบอร์โทร:
                            </div>
                            <div class="col-md-9">
                                <div class="form-group">
                                    <input type="text" class="form-control" formControlName="tel" />
                                </div>
                            </div>
                        </div><br>
                        <div *ngIf="(fromdata.tel.dirty || fromdata.tel.touched)" id="tel">
                            <div *ngIf="fromdata.tel.errors?.required" class="alert alert-danger">
                                Telephone number is required
                            </div>
                          </div>

                        <div class="row">
                            <div class="col-md-3">
                                เริ่มยืม:
                            </div>
                            <div class="col-md-9">
                                <div class="form-group">
                                    <input type="date" class="form-control" formControlName="start" />
                                </div>
                            </div>
                        </div><br>
                        <div *ngIf="(fromdata.start.dirty || fromdata.start.touched)" id="start">
                            <div *ngIf="fromdata.start.errors?.required" class="alert alert-danger">
                                Date start is required
                            </div>
                          </div>

                        <div class="row">
                            <div class="col-md-3">
                                สิ้นสุด:
                            </div>
                            <div class="col-md-9">
                                <div class="form-group">
                                    <input type="date" class="form-control" formControlName="end" />
                                </div>
                            </div>
                        </div><br>
                        <div *ngIf="(fromdata.end.dirty || fromdata.end.touched)" id="end">
                            <div *ngIf="fromdata.end.errors?.required" class="alert alert-danger">
                                Date end is required
                            </div>
                          </div>

                        <div class="row">
                            <div class="col-md-3">
                                ส่วนเสริม:
                            </div>
                            <div class="col-md-9">
                                <div>
                                    <input type="radio" formControlName="option" value="เครื่องเสียง" /> เครื่องเสียง
                                    <input type="radio" formControlName="option" value="น้ำมันเต็มถัง" /> น้ำมันเต็มถัง
                                    <input type="radio" formControlName="option" value="เครื่องเสียงและน้ำมันเต็มถัง" /> เครื่องเสียงและน้ำมันเต็มถัง
                                </div>
                            </div>
                        </div><br>
                        <div *ngIf="(fromdata.option.dirty || fromdata.option.touched)" id="option">
                            <div *ngIf="fromdata.option.errors?.required" class="alert alert-danger">
                                Option is required
                            </div>
                          </div>

                        <div class="row">
                            <div class="col-md-3">
                                อื่นๆ:
                            </div>
                            <div class="col-md-9">
                                <div class="form-group">
                                    <input type="text" class="form-control" formControlName="other" />
                                </div>
                            </div>
                        </div><br>
                        <div *ngIf="(fromdata.other.dirty || fromdata.other.touched)" id="other">
                            <div *ngIf="fromdata.other.errors?.required" class="alert alert-danger">
                                Other is required
                            </div>
                          </div>

                        <div class="row">
                            <div class="col-md-12">
                                <button type="button" class="btn btn-primary" (click)="addReservation()">Save</button>&nbsp;
                                <button type="reset" class="btn btn-danger" (click)="resetForm()">Reset</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-8">

        </div>
    </div>
</div>
