<div class="card">
    <div class="card-body">
        <h4 class="card-title">เพิ่มข้อมูลยานพาหนะ</h4>
        <div class="row">
            <div class="col-md-2">

            </div>
            <div class="col-md-8">
                <form [formGroup]="carForm">
                    <div class="card">
                        <div class="card-header">
                            กรอกข้อมูลยานพาหนะ
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3">
                                    ประเภท:
                                </div>
                                <div class="col-md-9">
                                    <div class="form-group">
                                        <select class="form-control" formControlName="type">
                                            <option value=""></option>
                                            <option *ngFor="let item of carType" [value]="item">{{item}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div> <br>
                            <div *ngIf="(fromdata.type.dirty || fromdata.type.touched)" id="type">
                                <div *ngIf="fromdata.type.errors?.required" class="alert alert-danger">
                                    Type is required
                                </div>
                              </div>

                            <div class="row">
                                <div class="col-md-3">
                                    ยี่ห้อ:
                                </div>
                                <div class="col-md-9">
                                    <div class="form-group">
                                        <input type="text" class="form-control" formControlName='name'>
                                    </div>
                                </div>
                            </div> <br>
                            <div *ngIf="(fromdata.name.dirty || fromdata.name.touched)" id="name">
                                <div *ngIf="fromdata.name.errors?.required" class="alert alert-danger">
                                    Brand  is required
                                </div>
                              </div>

                            <div class="row">
                                <div class="col-md-3">
                                    ป้ายทะเบียน:
                                </div>
                                <div class="col-md-9">
                                    <div class="form-group">
                                        <input type="text" class="form-control" formControlName='licensePlate'>
                                    </div>
                                </div>
                            </div> <br>
                            <div *ngIf="(fromdata.licensePlate.dirty || fromdata.licensePlate.touched)" id="licensePlate">
                                <div *ngIf="fromdata.licensePlate.errors?.required" class="alert alert-danger">
                                    LicensePlate is required
                                </div>
                              </div>

                            <div class="row">
                                <div class="col-md-3">
                                    รายละเอียด:
                                </div>
                                <div class="col-md-9">
                                    <div class="form-group">
                                        <input type="text" class="form-control" formControlName='detail'>
                                    </div>
                                </div>
                            </div> <br>
                            <div *ngIf="(fromdata.detail.dirty || fromdata.detail.touched)" id="detail">
                                <div *ngIf="fromdata.detail.errors?.required" class="alert alert-danger">
                                    Detail is required
                                </div>
                              </div>

                            <div class="row">
                                <div class="col-md-3">
                                    จำนวน:
                                </div>
                                <div class="col-md-9">
                                    <div class="form-group">
                                        <input type="number" class="form-control" formControlName='quantity'>
                                    </div>
                                </div>
                            </div> <br>
                            <div *ngIf="(fromdata.quantity.dirty || fromdata.quantity.touched)" id="quantity">
                                <div *ngIf="fromdata.quantity.errors?.required" class="alert alert-danger">
                                    Quantity is required
                                </div>
                              </div>

                            <div class="row">
                                <div class="col-md-3">
                                    Image:
                                </div>
                                <div class="col-md-9">
                                    <div class="form-group">
                                        <input type="file" class="form-control-file" formControlName='file'
                                            (change)="onChangeImg($event)">
                                    </div>
                                </div>
                            </div> <br>
                            <div *ngIf="(fromdata.file.dirty || fromdata.file.touched)" id="sign">
                                <div *ngIf="fromdata.file.errors?.required" class="alert alert-danger">
                                    File is required
                                </div>
                              </div>

                            <div class="row">
                                <div class="col-md-3">

                                </div>
                                <div class="col-md-9">
                                    <img *ngIf="previewLoaded" class="img-thumbnail" [src]="this.carForm.value.img"
                                        style="height:150px;">
                                </div>
                            </div> <br>

                            <div class="row">
                                <div class="col-md-12">
                                    <button type="button" class="btn btn-primary" (click)="addCar()">Add</button>&nbsp;
                                    <button type="reset" class="btn btn-danger" (click)="resetForm()">Reset</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-8">

            </div>
        </div>
    </div>
</div>
